{
    "env": {
        "development": {
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "chrome": "86"
                        },
                        "modules": "commonjs",
                        "debug": true
                    }
                ]
            ]
        },
        "production": {
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "chrome": "66",
                            "firefox": "60",
                            "safari": "11",
                            "edge": "76"
                        },
                        "debug": true
                    }
                ]
            ],
            "plugins": [
                [
                    "transform-runtime",
                    {
                        "polyfill": false,
                        "regenerator": true
                    }
                ]
            ]
        }
    }
}
